GlobalPricingInsights-adf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "GlobalPricingInsights-adf"
		},
		"TWTRG_daily_pricing_properties_pipeline_parameters_dst_source_file_date": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"trigger1_properties_pipeline_parameters_pln_prm_weather_start_date": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"trigger1_properties_pipeline_parameters_pln_prm_weather_end_date": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"trigger1_properties_pipeline_parameters_pln_prm_sink_output_format": {
			"type": "string",
			"defaultValue": "json"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_trans_geolocation_json_file_lab5')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Working-labs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_BRONZE_GEOLOCATION_SOURCE_lab5",
								"type": "DatasetReference"
							},
							"name": "sourcereadgeolocationjsonfiles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_WRITE_WEATHER_DATA_lab5",
								"type": "DatasetReference"
							},
							"name": "sinkmetadatafolder"
						}
					],
					"transformations": [
						{
							"name": "flattencomplexdatatype"
						},
						{
							"name": "selectmappingcolumns"
						},
						{
							"name": "derivedColumnadditionalmetadataparams"
						}
					],
					"scriptLines": [
						"source(output(",
						"          results as (id as integer, name as string, latitude as double, longitude as double, elevation as double, feature_code as string, country_code as string, admin1_id as integer, timezone as string, country_id as integer, country as string, admin1 as string)[],",
						"          generationtime_ms as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine',",
						"     wildcardPaths:[('bronze/geo-location/*.json')]) ~> sourcereadgeolocationjsonfiles",
						"sourcereadgeolocationjsonfiles foldDown(unroll(results, results),",
						"     mapColumn(",
						"          id = results.id,",
						"          name = results.name,",
						"          latitude = results.latitude,",
						"          longitude = results.longitude,",
						"          elevation = results.elevation,",
						"          feature_code = results.feature_code,",
						"          country_code = results.country_code,",
						"          admin1_id = results.admin1_id,",
						"          timezone = results.timezone,",
						"          country_id = results.country_id,",
						"          country = results.country,",
						"          admin1 = results.admin1",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattencomplexdatatype",
						"flattencomplexdatatype select(mapColumn(",
						"          market_name = name,",
						"          latitude,",
						"          longitude,",
						"          country_code,",
						"          country,",
						"          state_name = admin1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectmappingcolumns",
						"selectmappingcolumns derive(datalake_container_name = 'pricingdatalake',",
						"          datalake_folder_name = 'bronze/WEATHER-DATA') ~> derivedColumnadditionalmetadataparams",
						"derivedColumnadditionalmetadataparams sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          generationtime_ms as double,",
						"          results as (id as integer, name as string, latitude as double, longitude as double, elevation as double, feature_code as string, country_code as string, admin1_id as integer, timezone as string, country_id as integer, country as string, admin1 as string)[]",
						"     ),",
						"     partitionFileNames:['weatherdata-geocoordinates.json'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sinkmetadatafolder"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Working-labs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_SOURCE_DAILYPRICING_lab1",
								"type": "DatasetReference"
							},
							"name": "dfsourcedailypricinglab1"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_state_source_lookup",
								"type": "DatasetReference"
							},
							"name": "sourcedimstatelookup"
						},
						{
							"dataset": {
								"referenceName": "DS_source_Surrogate_key_state_id_dailypricing",
								"type": "DatasetReference"
							},
							"name": "sourcemaxstateid"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_sink_dailypricing_lab1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "selectstatename"
						},
						{
							"name": "aggregateuniquestatenames"
						},
						{
							"name": "selectexcludecountstatename"
						},
						{
							"name": "surrogateKeygeneratestateid"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "selectdimstatelookup"
						},
						{
							"name": "lookupNEWSTATENAME"
						},
						{
							"name": "filternewstatename"
						},
						{
							"name": "joinmaxstateidvalue"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DATE_OF_PRICING as string,",
						"          ROW_ID as string,",
						"          STATE_NAME as string,",
						"          MARKET_NAME as string,",
						"          PRODUCTGROUP_NAME as string,",
						"          PRODUCT_NAME as string,",
						"          VARIETY as string,",
						"          ORIGIN as string,",
						"          ARRIVAL_IN_TONNES as string,",
						"          MINIMUM_PRICE as string,",
						"          MAXIMUM_PRICE as string,",
						"          MODAL_PRICE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> dfsourcedailypricinglab1",
						"source(output(",
						"          STATE_NAME as string,",
						"          STATE_ID as integer,",
						"          DWH_CREATED_DATE as timestamp,",
						"          DWH_UPDATED_DATE as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcedimstatelookup",
						"source(output(",
						"          max_state_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select max(state_id) max_state_id  from [reporting].[DIM_STATE]',",
						"     format: 'query') ~> sourcemaxstateid",
						"dfsourcedailypricinglab1 select(mapColumn(",
						"          STATE_NAME",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectstatename",
						"selectstatename aggregate(groupBy(STATE_NAME),",
						"     COUNT_STATE_NAME = count(STATE_NAME)) ~> aggregateuniquestatenames",
						"aggregateuniquestatenames select(mapColumn(",
						"          STATE_NAME",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectexcludecountstatename",
						"joinmaxstateidvalue keyGenerate(output(STATE_ID as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKeygeneratestateid",
						"surrogateKeygeneratestateid derive(DWH_CREATED_DATE = currentDate(),",
						"          DWH_UPDATED_DATE = currentDate(),",
						"          NEW_STATE_ID = max_state_id +STATE_ID) ~> derivedColumn1",
						"sourcedimstatelookup select(mapColumn(",
						"          LOOKUP_STATE_NAME = STATE_NAME",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectdimstatelookup",
						"selectexcludecountstatename, selectdimstatelookup lookup(STATE_NAME == LOOKUP_STATE_NAME,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookupNEWSTATENAME",
						"lookupNEWSTATENAME filter(isNull(LOOKUP_STATE_NAME)) ~> filternewstatename",
						"filternewstatename, sourcemaxstateid join(!(isNull(STATE_NAME) && isNull(max_state_id)),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinmaxstateidvalue",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STATE_NAME as string,",
						"          STATE_ID as integer,",
						"          DWH_CREATED_DATE as timestamp,",
						"          DWH_UPDATED_DATE as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_dataflow1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dfsourcedailypricinglab1": {},
									"sourcedimstatelookup": {},
									"sourcemaxstateid": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_load_reporting_dim_tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachIterate Source files",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.pln_prm_source_files_list",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "DF_report_daily_pricing_dim_State",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_report_daily_pricing_dim_State_table",
											"type": "DataFlowReference",
											"parameters": {
												"dfl_prm_reporting_column_name": "'STATE_NAME'",
												"dfl_prm_reporting_schema_name": "'REPORTING'",
												"dfl_prm_reporting_table_name": "'DIM_STATE'",
												"dfl_prm_reporting_table_id_column": "'STATE_ID'"
											},
											"datasetParameters": {
												"sourcereaddailypricingdata": {
													"dst_prmt_landing_container_name": {
														"value": "@pipeline().parameters.pln_prm_landing_container_name",
														"type": "Expression"
													},
													"dst_prmt_landing_folder_name": {
														"value": "@pipeline().parameters.pln_prm_landing_folder_name",
														"type": "Expression"
													},
													"dst_prmt_landing_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"selectdimlookup": {},
												"selectmaxstateid": {},
												"sinkdimensiontables": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "DF_report_daily_pricing_dim_market_table",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "DF_report_daily_pricing_dim_State",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_report_daily_pricing_dim_market_table",
											"type": "DataFlowReference",
											"parameters": {
												"dfl_prm_reporting_column_name": "'MARKET_NAME'",
												"dfl_prm_reporting_schema_name": "'REPORTING'",
												"dfl_prm_reporting_table_name": "'DIM_MARKET'",
												"dfl_prm_reporting_table_id_column": "'MARKET_ID'"
											},
											"datasetParameters": {
												"sourcereaddailypricingdata": {
													"dst_prmt_landing_container_name": {
														"value": "@pipeline().parameters.pln_prm_landing_container_name",
														"type": "Expression"
													},
													"dst_prmt_landing_folder_name": {
														"value": "@pipeline().parameters.pln_prm_landing_folder_name",
														"type": "Expression"
													},
													"dst_prmt_landing_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"selectdimlookup": {},
												"selectmaxstateid": {},
												"sinkdimensiontables": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "DF_report_daily_pricing_dim_variety_table",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "DF_report_daily_pricing_dim_market_table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_report_daily_pricing_dim_variety_table",
											"type": "DataFlowReference",
											"parameters": {
												"dfl_prm_reporting_column_name": "'VARIETY'",
												"dfl_prm_reporting_schema_name": "'REPORTING'",
												"dfl_prm_reporting_table_name": "'DIM_VARIETY'",
												"dfl_prm_reporting_table_id_column": "'VARIETY_ID'"
											},
											"datasetParameters": {
												"sourcereaddailypricingdata": {
													"dst_prmt_landing_container_name": {
														"value": "@pipeline().parameters.pln_prm_landing_container_name",
														"type": "Expression"
													},
													"dst_prmt_landing_folder_name": {
														"value": "@pipeline().parameters.pln_prm_landing_folder_name",
														"type": "Expression"
													},
													"dst_prmt_landing_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"selectdimlookup": {},
												"selectmaxstateid": {},
												"sinkdimensiontables": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "DF_report_daily_pricing_dim_product_table",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "DF_report_daily_pricing_dim_variety_table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_report_daily_pricing_dim_product_table",
											"type": "DataFlowReference",
											"parameters": {
												"dfl_prm_reporting_column_name": "'PRODUCT_NAME'",
												"dfl_prm_reporting_schema_name": "'REPORTING'",
												"dfl_prm_reporting_table_name": "'DIM_PRODUCT'",
												"dfl_prm_reporting_table_id_column": "'PRODUCT_ID'"
											},
											"datasetParameters": {
												"sourcereaddailypricingdata": {
													"dst_prmt_landing_container_name": {
														"value": "@pipeline().parameters.pln_prm_landing_container_name",
														"type": "Expression"
													},
													"dst_prmt_landing_folder_name": {
														"value": "@pipeline().parameters.pln_prm_landing_folder_name",
														"type": "Expression"
													},
													"dst_prmt_landing_file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"selectdimlookup": {},
												"selectmaxstateid": {},
												"sinkdimensiontables": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pln_prm_source_files_list": {
						"type": "array"
					},
					"pln_prm_landing_container_name": {
						"type": "string",
						"defaultValue": "landing"
					},
					"pln_prm_landing_folder_name": {
						"type": "string",
						"defaultValue": "daily-pricing"
					},
					"pln_prm_landing_file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Transform"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_trans_geolocation_json_file_lab5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_trans_geolocation_json_file_lab5",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_trans_geolocation_json_file_lab5",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcereadgeolocationjsonfiles": {
										"prm_dst_container_name": "pricingdatalake",
										"prm_dst_folder_name": "bronze/geo-location",
										"prm_dst_file_name": "Abhanpur.json"
									},
									"sinkmetadatafolder": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "labs"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_trans_geolocation_json_file_lab5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TWTRG_daily_pricing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pipeline_daily_pricing",
						"type": "PipelineReference"
					},
					"parameters": {
						"dst_source_file_date": "[parameters('TWTRG_daily_pricing_properties_pipeline_parameters_dst_source_file_date')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2023-01-01T04:56:00Z",
					"endTime": "2023-01-16T04:56:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 2,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "PL_ingest_bronze_weather_data",
						"type": "PipelineReference"
					},
					"parameters": {
						"pln_prm_weather_start_date": "[parameters('trigger1_properties_pipeline_parameters_pln_prm_weather_start_date')]",
						"pln_prm_weather_end_date": "[parameters('trigger1_properties_pipeline_parameters_pln_prm_weather_end_date')]",
						"pln_prm_sink_output_format": "[parameters('trigger1_properties_pipeline_parameters_pln_prm_sink_output_format')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Month",
					"interval": 1,
					"startTime": "2023-01-01T04:13:00Z",
					"endTime": "2023-12-31T04:13:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_load_reporting_tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata List Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_daily_pricing_lab4a",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.pln_prm_source_file_start_date",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.pln_prm_source_file_end_date",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata List Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@empty(activity('Get Metadata List Files').output.childItems)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "PL_load_reporting_dim_tables",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_load_reporting_dim_tables",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pln_prm_source_files_list": {
												"value": "@activity('Get Metadata List Files').output.childItems",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pln_prm_source_file_start_date": {
						"type": "string"
					},
					"pln_prm_source_file_end_date": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_load_reporting_dim_tables')]"
			]
		}
	]
}