pipeline/PL_load_reporting_tables.json
{
	"name": "PL_load_reporting_tables",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata List Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_daily_pricing_lab4a",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@pipeline().parameters.pln_prm_source_file_start_date",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@pipeline().parameters.pln_prm_source_file_end_date",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata List Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Get Metadata List Files').output.childItems)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "PL_load_reporting_dim_tables",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_load_reporting_dim_tables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pln_prm_source_files_list": {
										"value": "@activity('Get Metadata List Files').output.childItems",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pln_prm_source_file_start_date": {
				"type": "string"
			},
			"pln_prm_source_file_end_date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Transform"
		},
		"annotations": []
	}
}