pipeline/PL_load_reporting_dim_table_4a.json
{
	"name": "PL_load_reporting_dim_table_4a",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata List Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_daily_pricing_lab4a",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@pipeline().parameters.prm_start_Date",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@pipeline().parameters.prm_end_date",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition Check file list exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata List Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Get Metadata List Folder').output.childItems)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "condition_output",
								"value": "false"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "condition_output",
								"value": "true"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"prm_start_Date": {
				"type": "string"
			},
			"prm_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"condition_output": {
				"type": "String"
			}
		},
		"folder": {
			"name": "labs"
		},
		"annotations": []
	}
}